.tagM {
    background-color: rgb(255, 253, 124);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    transition-duration: 1s;
}

.tagM h1 {
    font-weight: 100;
}